@tailwind base;
@tailwind components;
@tailwind utilities;

.about_me h1 {
  font-size: 50px;
  margin-bottom: 0;
}

.underline-white {
  text-decoration: none;
  background: linear-gradient(currentColor, currentColor) bottom / 0 .1em no-repeat;
  transition: 1s background-size;
}

.group:hover .underline-white {
  background-size: 100% .1em;
  background-position: left bottom;
}